.search {
    background-color:#fff;
    border: 2px solid #00d1b2;
    border-radius: 15px 15px 15px 15px;
    color:#00d1b2;
    font-weight:bold;
    font-size:1.1rem;
    margin: 30px auto 10px 30px;
    padding:5px 50px 5px 50px;
    box-shadow:none;
}
.add {
    border-radius:50%;
    background-color:#00d1b2;
    border: 2px solid #00d1b2;
    color:#fff;
    font-size:1.2rem;
    margin: 10px auto 10px 30px;
    padding:4px 10px;
    box-shadow:none;
}
.account {
    background-color:#2b78e4;
    color:#fff;
    font-size:1.1rem;
    border: 3px solid #000; 
    box-shadow:5px 5px black;       
    margin: 10px auto auto 30px;
    padding:5px 35px 5px 35px;
}